  /* ---- reset ----  */
body,html {
  margin: 0;
  font-family: "Raleway","Helvetica", sans-serif;
  width:100%;
  height:100%;
}

canvas {
  display: block;
  vertical-align: bottom;
} 

/* ---- particles.js container ---- */
#particlesjs {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3ecfc7;
  /* background-image: url("");  */
  /* background-repeat: no-repeat; */
   background-size: cover; 
   background-position: 50% 50%;  
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  text-align: center;
}

.top {
  height: 9vmax;
  top: -50%;
  background-color: rgba(120,120,120,0.2);
  border-radius: 3px;
  font-size: 2vmax;
}

.top h1 {
    font-size: 4vmax;
}

.mid {
  font-size: 3vmax;
  border-radius: 3px;
}

.bottom {
  font-size: 2vmax;
  top: 50%;
}

a {
  text-decoration: none;
  color:initial;
}

a:hover {
  text-decoration: underline;
}